<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title><%= settings.title %></title>

	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/index.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
<!-- 
	<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="/javascripts/date-utils.min.js"></script>
-->
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	
</head>
<style>
		@media screen and (min-width: 558px) and (max-width: 1280px){
			body{zoom:0.8;}
		}
	</style>
<body>
<%include nav.ejs %>
<div style="clear:both;"></div>

