<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title><%= settings.title %></title>

	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/index.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<style media=print type="text/css"> 
	.noprint{visibility:hidden} 
	</style> 

<!-- 
	<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="/javascripts/date-utils.min.js"></script>
-->
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	
</head>

<body>
<%include nav.ejs %>
<br/>
<br/>
<br/>
<div style="clear:both;"></div>

