<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title><%= settings.title %></title>
	<link rel="stylesheet" href="/stylesheets/index.css">
</head>
	<style>
		@media screen and (min-width: 650px) and (max-width: 840px){
			body{zoom:0.6;}
		}
		@media screen and (min-width: 850px) and (max-width: 1280px){
			body{zoom:0.75;}
		}
	</style>
<body>
	<div class="login-top">
		<img src="images/logo.png" alt="">
		<img src="images/lg_01.png" alt="" class="picture">
	</div>	
	<div id="login-bg">
		<div id="login">
		<form method="post" action="/login">
		<ul>
			<li><img src="images/logo.png" alt=""></li>
			<li class="text">
				<img src="images/inside_08.png" alt="">
				<input type="text" name="uname" placeholder="请输入门店号">
			</li>
			<li class="text">
				<img src="images/inside_09.png" alt="">
				<input type="password" name="pwd" placeholder="请输入密码">
			</li>
			<li><input type="submit" value="登录"  class="login"/></li>
			<% 
				locals.msgs.forEach(function(msg){
			%>
			<li><%= msg.type=='error'?'错误:'+msg.data:'' %></li>
			<%  
				});
				locals.rmMsgs();
			%>
		</ul>
		</form>
		</div>
	</div>
	<div class="index-bottom">©2017 蓝九天 山西蓝九天药业连锁有限公司电子商务分公司 版权所有 晋ICP备17008614号 </div>	
</body>
<script src="/javascripts/jquery.js"></script>
<script>
	$(function(){
		$("input").focus(function(){
			$(this).parent().addClass("active");
		})
		$("input").blur(function(){
			$(this).parent().removeClass("active");
		})
	})
</script>
</html>
