<%include ../head.ejs%>
<form method="post" action='/ticket/create' id='frm'>
<div class='container'>
	<div class='row'>
		<div class='col-sm-3 col-md-2 sidebar'>
			<div class="form-inline">
				<select class="form-control" name="ver" >
				<%
				vers.forEach((ver)=>{
			//	[{id:1,title:'test'}].forEach((ver)=>{
				%>
					<option value="<%= ver.id%>" <%= ver.id==verid?'selected=selected':null %> ><%= ver.title%></option>
				<%
				});
				%>
				</select>
				<input  class="form-control"type="submit" name="btnChange" value="变更" />
			</div>
			<h2>座位图示意图</h2>
			<div class="center">舞台</div>
			<div class="pic-center">
				<img width="100%" src="/images/zw.jpg" alt="">
				<a href="##" class="area_A">A区</a>
				<a href="##" class="area_B">B区</a>
				<a href="##" class="area_C">C区</a>
				<a href="##" class="area_VIP active">中区</a>
			</div>
			<div>	
				<p>座位：</p>
				<ul id="selected-seats"></ul>
				<p><span></span></p>				
				<button id="btnSure" class="btn btn-success">确定</button>	
				<input type='hidden' name='sels' ></input>
				<div class="seatCharts-legend">
					<ul class="seatCharts-legendList">
						<li class="seatCharts-legendItem">
							<div class="seatCharts-seat seatCharts-cell available"></div>
							<span class="seatCharts-legendDescription">可选座</span>
						</li>
						<li class="seatCharts-legendItem">
							<div class="seatCharts-seat seatCharts-cell unavailable"></div>
							<span class="seatCharts-legendDescription">已售出</span>
						</li>
					</ul>
				</div>
			</div>

		
		</div><!-- end sidebar-->

		<div class='col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main set-map'>

<div id="main" class="area">
	<h3>中心区域</h3>
	<div id="area_VIP">
		<ul id="seat-map-gba"></ul>
		<ul class="passway">
			<li style="">贵宾区</li>
			<li style="">主宾区</li>
			<li style="">嘉宾区</li>
		</ul>
		<ul id="seat-map-zxl">
			<li id="seat-map-gbl"></li>
			<li id="seat-map-zbl"></li>
			<li id="seat-map-jbl"></li>
		</ul>
		<ul class="passway">
			<li>贵宾区</li>
			<li>主宾区</li>
			<li>嘉宾区</li>
		</ul>
		<ul id="seat-map-zxr">
			<li id="seat-map-gbr"></li>
			<li id="seat-map-zbr"></li>
			<li id="seat-map-jbr"></li>
		</ul>
		<ul class="passway">
			<li style="padding:4px 0 5px 0;">贵宾区</li>
			<li style="padding:130px 0;">主宾区</li>
			<li style="padding:40px 0 45px 0;">嘉宾区</li>
		</ul>
		<ul id="seat-map-gbb"></ul>
		<div style="clear:both;"></div>
	</div>
</div>

<div id="main_c" class="area">
	<h3>C区</h3>
	<div id="area_C" class="demo">
		<h4>嘉宾C区</h4>
		<div id="seat-map-jbcl"></div>
		<div id="seat-map-jbcr"></div>
		<div style="clear:both;"></div>
		<h4>普宾C区</h4>
		<div>
			<div id="seat-map-pbcl"></div>
			<div id="seat-map-pbcr"></div>
		</div>
	</div>
</div>

<div id="main_a" class="area">
	<h3>A区</h3>
	<div id="area_A" class="demo">
		<h4>嘉宾A区</h4>
		<div id="seat-map-jba"></div>
		<div style="clear:both;"></div>
		<div>
			<h4>普宾A区</h4>
			<div id="seat-map-pba"></div>	
		</div>
	</div>
</div>

<div id="main_b" class="area">
	<h3>B区</h3>
	<div id="area_B" class="demo">
		<h4>嘉宾B区</h4>
		<div id="seat-map-jbb"></div>
		<div style="clear:both;"></div>
		<div>
			<h4>普宾B区</h4>
			<div id="seat-map-pbb"></div>	
		</div>
	</div>
</div>
		
		</div><!-- end main-->
	</div>
</div>
</div>
</form>
<script type="text/javascript" src="/javascripts/jquery.seat-charts.min.js">
</script>
<script type="text/javascript">

$(function() {
	var $cart = $('#selected-seats'), //座位区
	$counter = $('#counter'), //票数
	$total = $('#total'); //总计金额
//贵宾区
	$('#seat-map-gbl').seatCharts({
		map: [ 
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "贵宾区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>贵宾区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);		
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}
	});
	
	$('#seat-map-gbr').seatCharts({
		map: [ 
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "贵宾区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			console.log(this.settings)
			if (this.status() == 'available') { //可选座
				$('<li>贵宾区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);		
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}
	});
	
//主宾区
    $('#seat-map-zbl').seatCharts({
		map: [ 
		'____________________',
		'____________________',
		'____________________',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "主宾区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>主宾区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}		
	});

	$('#seat-map-zbr').seatCharts({
		map: [  //
		'____________________',
		'____________________',
		'____________________',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "主宾区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>主宾区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}		
	});

//嘉宾区
	$('#seat-map-jbl').seatCharts({
		map: [ 
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "嘉宾区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>嘉宾区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}		
	});

	$('#seat-map-jbr').seatCharts({
		map: [ 
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'____________________',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "嘉宾区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>嘉宾区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}		
	});
//嘉宾C区
	$('#seat-map-jbcl').seatCharts({
		map: [
		'___________________________________________________',
		'___________________________________________________',
		'___________________________________________________',
		'___________________________________________________',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "嘉宾C区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>嘉宾C区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}		
	});

	$('#seat-map-jbcr').seatCharts({
		map: [ 
		'___________________________________________________',
		'___________________________________________________',
		'___________________________________________________',
		'___________________________________________________',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "嘉宾C区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>嘉宾C区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}		
	});

//普宾C区
	$('#seat-map-pbcl').seatCharts({
		map: [  
		'___________________________________________________________',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "普宾C区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>普宾C区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}
	});

	$('#seat-map-pbcr').seatCharts({
		map: [  
		'_____________________________________________________',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa__________',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa__________',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa__________',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa__________',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa__________',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "普宾C区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>普宾C区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}
	});

//贵宾A区
	$('#seat-map-gba').seatCharts({
		map: [  
		'______________aaaaaaaaaaaaaa',
		'______________aaaaaaaaaaaaaa',
		'______________aaaaaaaaaaaaaa',
		'______________aaaaaaaaaaaaaa',
		'______________aaaaaaaaaaaaaa',
		'______________aaaaaaaaaaaaaa',
		'______________aaaaaaaaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "贵宾A区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>贵宾A区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}
	});

//嘉宾A区
	$('#seat-map-jba').seatCharts({
		map: [  
		'____________________________aaaaaaaaaaaaaaaaaaaaaaaaaa____________________',
		'____________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'____________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'____________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'____________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'____________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'____________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "嘉宾A区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>嘉宾A区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}
	});

// 普宾A区_区
	$('#seat-map-pba').seatCharts({
		map: [ 
		'________________________________________________________________________________________________',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'___________________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'___________________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'___________________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'___________________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'___________________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'___________________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'___________________________________aaaaaaaaaaaaaaaaaaaaaaaaa',
		'___________________________________aaaaaaaaaaaaaaa',
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "普宾A区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>普宾A区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}
	});

//贵宾B区
	$('#seat-map-gbb').seatCharts({
		map: [  
		'aaaaaaaa',
		'aaaaaaaa',
		'aaaaaaaa',
		'aaaaaaaa',
		'aaaaaaaa',
		'aaaaaaaa',
		'aaaaaaaa',
		'aaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "贵宾B区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>贵宾B区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}
	});

//嘉宾B区
$('#seat-map-jbb').seatCharts({
		map: [  
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa______________________',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "嘉宾B区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>嘉宾B区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}
	});

//普宾B区
$('#seat-map-pbb').seatCharts({
		map: [  
		'___________________________________________________________________________________________________________________',
		'__________________________aaaaaaaaaaaaaaaaaaa',
		'__________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'__________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'__________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'__________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'__________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'__________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'__________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'__________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'__________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'__________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'__________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'__________________________aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
		'__________________________aaaaaaaaaaaaaaaaaaaaaaa',
		'__________________________aaaaaaaaaaaaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			},
			getId : function(e,t,n) {
				return "普宾B区_"+t+"_"+n;
			}
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>普宾B区'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.prependTo($cart);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}
	});

for(var i=0;i<=$(".seatCharts-row").length;i++){
	if($(".seatCharts-row").eq(i).text().length<=2){
		$(".seatCharts-row").eq(i).hide();
}
}
	
	// 切换区域	
	$(".area_VIP").click(function(){
		$(".pic-center a").removeClass("active");
		$(this).addClass("active");
		$(".area").hide();
		$("#main").fadeIn();
	})

	$(".area_C").click(function(){
		$(".pic-center a").removeClass("active");
		$(this).addClass("active");
		$(".area").hide();
		$("#main_c").fadeIn();
	})

	$(".area_A").click(function(){
		$(".pic-center a").removeClass("active");
		$(this).addClass("active");
		$(".area").hide();
		$("#main_a").fadeIn();
	})

	$(".area_B").click(function(){
		$(".pic-center a").removeClass("active");
		$(this).addClass("active");
		$(".area").hide();
		$("#main_b").fadeIn();
	})


	//已售出的座位
	var disables = <%-disables.length>0?'[' + disables + ']':'[]' %>;
	var slist = [svipl , svipr, sc1l , sc1r , sc2l , sc2r , sa1 , sa2 , sb1 , sb2 ];
	$.each(slist,function(idx,item){
		item.get(disables).status('unavailable');
	});


	//提交
	$('#btnSure').click(function(e){
		var sels = [];
		$cart.children('li').each(function(idx,item){
			sels.push($(item).data('seatId'));
		});
console.log(sels);
		if(!sels || sels.length<= 0){
			alert('请选择座位 2');
			e.preventDefault();
			return false;
		}
		$('input[name="sels"]').val(sels);
	});


});



</script>
</body>
</html>
