<%include ../head.ejs %>
	<div class="container">
		<p class="noprint">
			<button class="btn btn-primary btn-lg" id="btnPrint"> 打印 </button>
			<hr style="height:2px;border-top:solid 3px #000;"/> <hr/>
		</p>
		<div id="print" class="print">
		<%
			var i,j,len = tickets.length;
			for(i=0;i<len;i++){
				var ticket = tickets[i];
		%>

			<p>
				<center><%=settings.title%></center>
				<center><small>戏曲专场入场券</small></center>
				<h2><%= ticket.seat_id%></h2>
				<h2><%= ticket.title.split(' ')[0]||'' %><br/>
				<%= ticket.title.split(' ')[1]||'' %></h2>
				<center><small>凭票入场 盖章有效</small></center>
				<center><small>咨询电话:0356-6993562</small></center>
				<hr style="height:2px;border-top:dashed 3px #000;"/> <hr/>
			</p>
			
		<%
			}
		%>

		</div>
	</div>
	</body>
<script>
$(function(){
	$('#btnPrint').click(function(e){
		window.print();
	});
});
</script>
</html>
