<!DOCTYPE html>
<html>
  <head>
	  <%include ../head.ejs%>
  </head>
 <body>
    <%include ../nav.ejs%>
	<div id="header" class="jumbotron" >
	</div>
	<div class="container">
		<div id="addinfo">
		</div>
		<div id="showinfo" >
		</div>
	</div>

    <%include ../footer.ejs%>
    <!-- /container -->
      <%include ../scripts.ejs%>
      <script  src="/javascripts/build/info.js"> </script>
      <script>
        $(function(){
			$('form#frm_info').submit(function(){
				e.preventDefault();
			});	
        });
      </script>
  </body>
</html>
