* {
}
#nav ul {
  list-style: none;
}

#nav li {
  margin: 0;
  float: left;
  diaplay: block;
  width: auto;
}

#nav li a {
  padding: 10px;
  margin: 0;
  diaplay: inline;
  width: auto;
  color: #D7D493;
  background: #000;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#nav li a:hover {
  color: #000;
  background: #D7D493;
}

#nav li ul li{
  float:none;
  padding: 11px;
  margin-left: -12px;
}

#nav li ul li a{
  border-bottom:1px solid #fff;
  border-right:none;
}
#nav ul {
  list-style: none;
}

#nav li {
  margin: 0;
  float: left;
  diaplay: block;
  width: auto;
}

#nav li a {
  padding: 10px;
  margin: 0;
  diaplay: inline;
  width: auto;
  color: #D7D493;
  background: #000;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#nav li a:hover {
  color: #000;
  background: #D7D493;
}

#nav li ul li{
  float:none;
  padding: 11px;
  margin-left: -12px;
}

#nav li ul li a{
  border-bottom:1px solid #fff;
  border-right:none;
}

div.blog-content {
    position:relative;
    width: 100%;
    padding: 0 10px;
    z-index: 200;
    font: 160% bold;
    background:#ccc;
}
.wrapper{
	position:relative;
	top:60px;
	min-height:600px;
}
.mask{
	position:absolute;
	left:0;
	top:0;
	float:left;
    background:#ffe;
	//opacity:0.6;
	width:100%;
	height:100%;
}
.mask-bar{
	padding:0 0 6px 0;
	background:#000;
}

.mask-btn {
	position:absolute;
	right:0;
	background:#ffffff;
	padding:-3px;
	border-radius:1.2em 1.2em;
}
.mask-main{
	margin:0 auto;
    background:#fff;
	padding:10px 15px;
	opacity:1;
	width:98%;
	height:98%;
}
.login-bar{
	color:#ffffff;
}

.float-right{
	float: right;
}
.dropdown-menu-horizon li{
	float: left;
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    width:240px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: auto;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */


@media (min-width: 768px) {
  .main {
    position: fixed;
    top: 51px;
    left: 245px;
    bottom: 0;
    right: 5px;
    z-index: 100;
    display: block;
    overflow-x: auto;
    overflow-y: auto;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.footer{
	margin:10px auto;
	clear:both;
	text-align:center;
}

/*.print h1{
	font-size:20px;
	line-height:20px;
}
.print h2{
	font-size:14px;
	line-height:20px;
}
.print h3{
	font-size:8px;
	line-height:14px;
}*/
.print p{
  font-family: "黑体";
  text-align: center;
  font-size:12px;
  line-height:15px;
}
.print p b{font-size: 14px;font-family: "黑体";}
@media print{
	.navbar {
    display: none;
  }
	.noprint{
		diaplay:none;
		visibility:hidden;
	}
  .print p{
  margin-bottom: 5px;
  padding: 0;
  }
	/*.print h1{
  font-size:14px;
  line-height:20px;
  }
	.print h2,.print h3,.print h4{
  font-size:12px;
  line-height:20px;
  }*/
}


